# ENV
NODE_ENV="development"

# Server address
HOST="0.0.0.0"
PORT=5002

# JWT secret
JWT_SECRET="super_secret-key@dev"
JWT_ISSUER="example.com"

# PostgreSQL DB
POSTGRES_DATABASE_URL="postgresql://postgres:password@localhost:5432/example_dev"

# Mongo DB
MONGO_DATABASE_USERNAME=mongo
MONGO_DATABASE_PASSWORD=password
MONGO_DATABASE_AUTHSOURCE=admin
MONGO_DATABASE_URL="mongodb://localhost:27017/example_dev"

# Cache DB
REDIS_DATABASE_HOST=localhost
REDIS_DATABASE_PORT=6379

# Email (Nodemailer), we can use 3 SMTP servers
EMAIL_SERVER_1=
EMAIL_PORT_1=
EMAIL_USERNAME_1=
EMAIL_PASSWORD_1=
EMAIL_SENDER_1=

EMAIL_SERVER_2=
EMAIL_PORT_2=
EMAIL_USERNAME_2=
EMAIL_PASSWORD_2=
EMAIL_SENDER_2=

EMAIL_SERVER_3=
EMAIL_PORT_3=
EMAIL_USERNAME_3=
EMAIL_PASSWORD_3=
EMAIL_SENDER_3=
